* { box-sizing: border-box; }

body
{
    font: 24px Roboto;
}

.container
{
    position: absolute;
    width: 300px;
    height: 400px;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

input[type=search]
{
    background-color: #f1f1f1;
    width: 100%;
    border: 1px solid transparent;
    padding: 10px;
    font-size: 16px;
}

#character_list
{
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 400px;
    overflow: auto;
}

#character_list li a
{
    border: 1px solid #ddd;
    margin-top: -1px; /* prevents double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    text-align: left;
}

#character_list li a:hover:not(.header)
{
    background-color: #eee;
}

#logo
{
    width: 400px;
    margin-left: -95px;
}